<template id="shot-radius-ui-template">
  <div id="shot-radius-ui" style="display: flex; flex-direction: column; align-items: center; margin-top: 12px;">
    <div id="radius-upgrade" data-upgrade="radius" 
         data-title="Increase Shot Radius" 
         data-label="Increase Shot Radius"
         data-cost="100"></div>
    
    <div id="cooldown-upgrade" data-upgrade="cooldown"
         data-title="Decrease Cooldown" 
         data-label="Decrease Cooldown"
         data-cost="100"></div>
  </div>
</template>
